<div>
    <div id="rotatingWallPapers">

    </div>

    <div id="toppane_nav" class="">
        <ul id="nav_list">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>

    </div>

</div>