<div id="subPane">


    <div class="subPaneHeader">
        <img src="~/Content/City6.jpg">
        <div class="paneHeader">
        lol
        </div>
    </div>
   
    <div class="subPaneHeader">
        <img src="~/Content/City10.jpg">
        <div class="paneHeader">
            lol
        </div>
    </div>
    <div class="subPaneHeader">
        <img src="~/Content/City9.jpg">
        <div class="paneHeader">
            lol
        </div>
    </div>

</div>
