body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a:hover {
    background-color: yellow;
    cursor: pointer;
}

#rotatingWallPapers {
    position: relative;
    top: -55px;
    height: 600px;
    width: 100%;
    background-size: 100% 600px;
    background-repeat: no-repeat;
}

.toppane_nav {
    background-color: beige;
    position: relative;
    font-size: 22px !important;
    padding-left: 271px;
    top: -680px;
    opacity: 0.8;
    width: 100%;
}

#breadcrumbs {
    top: -702px !important;
    padding-left: 25px !important;
}

#sub_nav {
    top: -185px !important;
    padding-left: 10px !important;
}

#nav_list li {
    list-style-type: none;
    display: inline;
    font-size: 20px;
    font-size: 150%;
    padding: 10px 75px 10px 10px;
    opacity: 0.4;
}

#subPane img, li {
    height: 290px;
    width: 385px;
    list-style-type: none;
    display: inline;
    padding-left: 20px;
    font-size: 22px;
}

#subPane, .sub_nav_description {
    position: relative;
    top: -100px;
    padding-left: 100px;
    padding-right: 100px;
}



.subPaneHeader {
    height: 290px;
    width: 385px;
    max-height: 400px;
    max-width: 500px;
    display: inline-block;
    padding-right: 40px;
}

.paneHeader {
    position: relative;
    z-index: 100;
    color: black;
    font-weight: bold;
    font-size: 33px;
    top: -230px;
    left: 190px;
    background-color: brown;
    opacity: 0.8;
    width: 45%;
}

a, a:visited {
    color: black;
    text-decoration-color: black;
    text-decoration: none;
}

#unknown_nav {
    float: left;
    width: 25%;
}

#unknown_display {
}

#unknown ul {
    list-style-type: none;
}

label {
    background-color: #AAAFAB;
    border-radius: 5px;
    padding: 3px;
    padding-left: 25px;
    color: white;
}
/*#unknown li,.expand { 
	margin: 10px;
	padding: 5px;
	border: 1px solid #ABC;
	border-radius: 5px;
}*/
input[type=checkbox] {
    display: none;
}

    input[type=checkbox] ~ ul {
        max-height: 0;
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        white-space: nowrap;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

    input[type=checkbox]:checked ~ ul {
        max-height: 100%;
        max-width: 100%;
        opacity: 1;
    }

    input[type=checkbox] + label:before {
        transform-origin: 25% 50%;
        border: 8px solid transparent;
        border-width: 8px 12px;
        border-left-color: white;
        margin-left: -20px;
        width: 0;
        height: 0;
        display: inline-block;
        text-align: center;
        content: '';
        color: #AAAFAB;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        position: absolute;
        margin-top: 1px;
    }

    input[type=checkbox]:checked + label:before {
        transform: rotate(90deg);
        /*margin-top: 6px;
  margin-left: -25px;*/
    }

#unknown_display_desc {
    overflow: auto;
}

#unknown_nav {
border-style: groove;
}

#unknown_display_img img{
    height: 10%;
    width: 10%;
    float: left;
    padding: 10px;
}
